body {
	background-color: #144bff;
	text-align: center;
	font-family: courier new;
}

p {
	font-family: monospace;
	color: lightblue;
}
a {
	font-family: monospace;
    color: lightblue;
}
.title_pretend {
	font-family: monospace;
	color: white;
}
.button {
	background-color: blue;
	border-style: outset;
	padding: 3px 8px 3px 8px;
	border-radius: 10px;
	color: lightblue;
	font-family: monospace;
}
h1 {
	font-family: courier new;
	color: white;
}

.selector {
	border: 5px solid blue;
	border-radius: 10px;
	background-color: #001ed9; 
}

.size_larger {
	font-size: 100px;
}

h3 {
	font-family: courier new;

}

h2 {
	font-family: courier new;
    color: white;
}


/* Google font */
@import url('https://fonts.googleapis.com/css?family=Orbitron');


#clock {
  font-family: courier new;
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #001ed9;
  border-color: blue;
  border-style: solid;
  border-radius: 10px;


  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 102;

}



.Top_Bar {
	font-family: courier new;
	background-color: #cccccc;
	border-style: hidden;
	width: 100%;
	height: 75px;
	border-radius: 10px;
	z-index: 101;
}

.Home_button {
	position: absolute;
	top: 20px;
	left: 20px; 
	width: 100px;
    z-index: 102;

}
.image_margin {
	margin: 30px;
}

.Code_access {
    position: absolute;
    top: 40%;
    right: 43%;
    border-style: solid;
    border-color: #e0e0e0;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 100px;
    z-index: 100;

    
}
.container {

} 
input {
	border-radius: 15px;
	height: 30px;
	border-style: solid;
	border-color: #e0e0e0;
	background-color: #f0f0f0;
	font-family: courier new;
}


.overlay{
    opacity: 0.8;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: z99;
}

.text_request {
	text-align: center;
	color: black;
}


.login {
	background-color: blue;
	border-style: outset;
	padding: 3px 8px 3px 8px;
	border-radius: 10px;
	color: lightblue;
	font-family: monospace;
	position: absolute;
	top: 29px;
	right: 210px;
	z-index: 103;
}

