body {
	background-color: #144bff;
	text-align: center;
	font-family: courier new;
}

p {
	font-family: monospace;
	color: lightblue;
}
a {
	font-family: monospace;
    color: lightblue;
}
.title_pretend {
	font-family: monospace;
	color: white;
}
.button {
	background-color: blue;
	border-style: outset;
	padding: 3px 8px 3px 8px;
	border-radius: 10px;
}
h1 {
	font-family: courier new;
	color: white;
}

.selector {
	border: 5px solid blue;
	border-radius: 10px;
	background-color: #001ed9; 
}

.size_larger {
	font-size: 100px;
}

h3 {
	font-family: courier new;

}


/* Google font */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-color: #121212;
}

#clock {
  font-family: courier new;
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #001ed9;
  border-color: blue;
  border-style: solid;
  border-radius: 10px;


  position: absolute;
  top: 20px;
  right: 20px;

}
